<h1>Edit Actor</h1>

<form action="/update_actor/<%= @actor.id %>">
  Name:
  <input name="name" type="text" value="<%= @actor.name %>">

 Image:
  <input name="image_url" type="text" value="<%= @actor.image_url %>">

 DOB:
 <input name="dob" type="text" value="<%= @actor.dob %>">

 BIO:
 <input name="bio"  type="text" value="<%= @actor.bio %>">


  <button>Update Actor</button>
</form>

<a href="/actors/<%= @actor.id %>">Cancel and Return</a>
